@{
    ViewData["Title"] = "Home";
}

<div class="hero-slider hero-slider-one">
    <div class="single-slide" style="background-image: url('~/assets/images/slider/slide-bg-1.jpg')">
        <div class="hero-content-one container">
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <div class="slider-text-info">
                        <h3>Top Selling!</h3>
                        <h1>New Collection</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="/shop" class="btn slider-btn uppercase"><span>SHOP NOW</span></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="~/assets/images/slider/slier-inner-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
